*{
	font-family: 'Heebo', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header{
	height: 83px;
	width: 100%;

}
.container{
	display: flex;
}
a{
	color: black;
	text-decoration: none;

}
ul li{
	list-style-type: none;
}
button{
	display: block;
	cursor: pointer;
}
header{
	height: 83px;
}
.container{
	max-width: 1148px;
	padding: 0 5px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-iteam: center;

}

.header_title{
font-weight: 700;
font-size: 28px;
line-height: 83px;
}

.header_nav{
	display: flex;
	justify-content: space-between;
	line-height: 83px;
	width: 527px;
	font-weight: 400;
	font-size: 18px;
}
.header_icons{
	display: flex;
	width: 148px;
	justify-content: space-between;
	line-height: 83px;
	color: white;
}
a:hover {
	color: pink;
}
.baner_wrap{
	height: 745px;
	background: url("banner.png");
}
.banner{
	justify-content: flex-end;
	align-items: center;

}
.baner_text{
	padding-top: 427px;
	width: 448px;
	align-items: center;

}
p {
	font-weight: 500;
	font-size: 18px;
}

.baber_title{
	font-weight: 700;
	font-size: 80px;
	line-height: 120px;
}
.banner_subtitle{
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 27px;
}
.banner_buttons{
	display: flex;
}
.discover, .shop{
	background: black;
	color: white;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
}
.discover a, .shop a{
	color: white;
}
.discover{
	margin-right: 34px;
	padding: 4px 29px;
}
.shop{
	padding: 4px 24px;
}
.all_category{
	display: flex;
	width: 100%;
}
.img_top{
	positon: relative;
	height: 286px;
	width: 551px;
	background: url('img_top_left.png')no-repeat	center/cover;
	margin-bottom: 22px;
	cursor: pointer;
}
.bootom_1{
	positon: relative;
	height: 262px;
	width: 265px;
	background: url('img_bottom_left.png') no-repeat	center/cover;
	margin-right: 21px;
	cursor: pointer;
}
.bootom_2{
	positon: relative;
	height: 262px; 
	width: 265px;
	background: url('img_bottom_left_2.png') no-repeat	center/cover;
	cursor: pointer;
}
.left_category{
	display: flex;
	width: 50%;
	flex-wrap: wrap;

}
.right_category{
	width: 50%;
}
.img_right{
	positon: relative;
	height: 572px;
	width: 552px;
background: url('img_right.png') no-repeat	center/cover;
cursor: pointer;

}
/*.img_right::before{
	content: "";
	background: black;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;*/

}
.top_margin{
	margin-top: 110px;
}
/*fasion photo*/

.fasion_wrapper{
	width: 100%;
}
.photo{
	width: 100%;
	display: flex;

}
.photo_iteam{
	width: 25%;
}
.fasion{
	margin: 0 auto;
	text-align: center;

}
.subtitle{
	margin: 0 auto;
	text-align: center;
}
